# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# 本地构建产物
build.gradle.kts.bak
settings.gradle.kts.bak
compile.bat
create_icon.py
